[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "==4.6.0"
flask-cors = "*"
flask-admin = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
cloudinary = "*"
werkzeug = "*"
requests = "*"
pyjwt = "==2.9.0"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
start = "python src/app.py"
dev = "python src/app.py"
init = "cd src && python -m flask --app app:app db init"
migrate = "cd src && python -m flask --app app:app db migrate"
upgrade = "cd src && python -m flask --app app:app db upgrade"
reset_db = "cd src && python -m flask --app app:app db upgrade"